
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*Shared styles*/
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
/*header bgpic*/
.header{
    background-image: url('../sideSS.png') , url('../bgpic2.avif');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center, bottom right;
}
/*Nav styles*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: bold;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    border:none;

}
nav ul{
    display: flex;
    align-items:center;
}
nav ul li{
    list-style: none;
    margin-right: 21px;
}
nav li a{
    text-decoration: none;
}
/*banner styles*/
.banner{
    display:flex;
    justify-content: space-between;
    margin:0 35px 0 200px;
}
.banner-content{
    max-width: 585px;
}
.banner-greet{
    font-size: 45px;
    font-weight: 600;

}
.banner-title{
    font-size:85px;
    font-weight: bold;
}
.banner-descriptio{
    font-size:18px;

}
.img-size{
    width: 500px;
}